/* line 1, ../sass/podplay-player.scss */
.visually-hidden, .podplay-player button .text {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

/* PodPlay Player */
/* line 16, ../sass/podplay-player.scss */
.podplay-player {
  margin: 1.25rem 0;
}
/* line 18, ../sass/podplay-player.scss */
.podplay-player .podplay-progress-section {
  display: inline;
}
/* line 21, ../sass/podplay-player.scss */
.podplay-player .podplay-player-controls {
  box-sizing: border-box;
  background: #000;
  color: #fff;
  font-size: 14px;
  height: 42px;
  overflow: hidden;
  padding: 5px;
}
/* line 30, ../sass/podplay-player.scss */
.podplay-player button {
  background: #2a2a2a;
  color: #fff;
  border: 0;
  border-radius: 2px;
  padding: 5px;
  line-height: 22px;
  -webkit-appreance: none;
  min-width: 32px;
}
/* line 43, ../sass/podplay-player.scss */
.podplay-player progress {
  height: 13px;
  width: calc(100% - 390px);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
/* line 50, ../sass/podplay-player.scss */
.podplay-player progress[value]::-webkit-progress-bar {
  background-color: #555;
  border-radius: 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
}
/* line 55, ../sass/podplay-player.scss */
.podplay-player progress[value]::-webkit-progress-value {
  background: #fff;
}
/* line 58, ../sass/podplay-player.scss */
.podplay-player .podplay-time {
  display: inline-block;
  font-size: 13px;
  padding: 0 5px;
  text-align: center;
}
/* line 64, ../sass/podplay-player.scss */
.podplay-player .podplay-speed {
  width: 2.5em;
}

@media only screen and (max-width: 40em) {
  /* line 70, ../sass/podplay-player.scss */
  .podplay-player {
    text-align: center;
  }
  /* line 72, ../sass/podplay-player.scss */
  .podplay-player progress {
    width: calc(100% - 148px);
  }
  /* line 75, ../sass/podplay-player.scss */
  .podplay-player button {
    width: 20%;
    margin-bottom: 0;
  }
  /* line 78, ../sass/podplay-player.scss */
  .podplay-player button.podplay-play, .podplay-player button.podplay-pause, .podplay-player button.podplay-rewind {
    width: 49%;
  }
  /* line 82, ../sass/podplay-player.scss */
  .podplay-player .podplay-progress-section {
    display: block;
    height: 39px;
    width: 100%;
    margin-top: 20px;
  }
  /* line 88, ../sass/podplay-player.scss */
  .podplay-player .podplay-player-controls {
    height: auto;
  }
}
