.visually-hidden {
    position: absolute !important;
    clip: rect(1px 1px 1px 1px);
    /* IE6, IE7 */
    
    clip: rect(1px, 1px, 1px, 1px);
    padding: 0 !important;
    border: 0 !important;
    height: 1px !important;
    width: 1px !important;
    overflow: hidden;
}

/* PodPlay Player */

.podplay-player {
    margin: 1.25rem 0;
    .podplay-progress-section{
        display: inline;
    }
    .podplay-player-controls {
        box-sizing: border-box;
        background: #000;
        color: #fff;
        font-size: 14px;
        height: 42px;
        overflow: hidden;
        padding: 5px;
    }
    button {
        background: #2a2a2a;
        color: #fff;
        border: 0;
        border-radius: 2px;
        padding: 5px;
        line-height: 22px;
        -webkit-appreance: none;
        min-width: 32px;
        .text {
            @extend .visually-hidden;
        }
    }
    progress {
        height: 13px;
        width: calc(100% - 390px);
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
    }
    progress[value]::-webkit-progress-bar {
        background-color: #555;
        border-radius: 0;
        box-shadow: 0 2px 5px rgba(0, 0, 0, 0.25) inset;
    }
    progress[value]::-webkit-progress-value {
        background: #fff;
    }
    .podplay-time {
        display: inline-block;
        font-size: 13px;
        padding: 0 5px;
        text-align: center;
    }
    .podplay-speed {
        width: 2.5em;
    }
}

@media only screen and (max-width: 40em) {
  .podplay-player{
    text-align: center;
    progress {
        width: calc(100% - 148px);
    }
    button {
      width: 20%;
      margin-bottom: 0;
      &.podplay-play, &.podplay-pause, &.podplay-rewind{
          width: 49%;
      }
    }
    .podplay-progress-section{
        display: block;
        height: 39px;
        width: 100%;
        margin-top: 20px;
    }
    .podplay-player-controls{
        height: auto;
    }
  }
}